################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OwnSheetList/.vs/OwnSheetList/v16
